*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Mukta', sans-serif;

}
#root{
    
}
html{
scroll-behavior: smooth;
}
:target{
  padding-top:100px;
  margin-top:-100px;
}