*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Mukta', sans-serif;

}
#root{
    background-image: url('https://images.unsplash.com/photo-1491183672482-d0af0e44929d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  height: 100vh;
}